<table id="tableDetil" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tanggal Rencana Terima</th>
            <th>Material</th>
            <th>Tipe Material</th>
            <th>Volume</th>
            <th>Unit</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

    </tbody>
</table>