
<div class="col-md-6">
    <h5>Detail Informasi Proyek</h5>
<div class="card">
    <div class="card-body">
        <label for="proyekSelect" class="form-label">Pilih Proyek</label>
        <select id="proyekSelect" class="form-select" aria-label="Pilih Proyek">
        </select>
        <p><strong>Tanggal Mulai:</strong> <span id="proyekTanggalStart">2024-10-22</span></p>
        <p><strong>Tanggal Selesai</strong> <span id="proyekTanggalEnd">2024-10-22</span></p>
    </div>
</div>
</div>