
<div class="col-md-6">
    <row>
        <h5>Detail Informasi User</h5>
        <div class="card">
            <div class="card-body">
                <p><strong>Nama User</strong> <span id="usernameProyek">Jhon Doe</span></p>
                <p><strong>Jabatan</strong> <span id="jabatanProyek">Super Admin</span></p>
            </div>
        </div>
    </row>
    <row>
        <div class="d-grid gap-2 mt-1">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalTambahProyek">Tambah Proyek</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajukan SPR</button>
            @*<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalTambahMateril">Tambah Materil</button>*@
            @*<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalTambahMateril">Approval SPR</button>*@
        </div>
    </row>
</div>