
@{
    ViewData["Title"] = "Index";
}
@section HeaderTag{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}
<div class="row">
    <div class="col-md-6">
        <h5>Detail Informasi Proyek</h5>
        <div class="card">
            <div class="card-body">
                <label for="proyekSelect" class="form-label">Pilih Proyek</label>
                <select id="proyekSelect" class="form-select" aria-label="Pilih Proyek">
                </select>
                <p><strong>Tanggal Mulai:</strong> <span id="proyekTanggalStart">2024-10-22</span></p>
                <p><strong>Tanggal Selesai</strong> <span id="proyekTanggalEnd">2024-10-22</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <row>
            <h5>Detail Informasi User</h5>
            <div class="card">
                <div class="card-body">
                    <p><strong>Nama User</strong> <span id="usernameProyek">Jhon Doe</span></p>
                    <p><strong>Jabatan</strong> <span id="jabatanProyek">Super Admin</span></p>
                </div>
            </div>
        </row>
        <row>
            <div class="d-grid gap-2 mt-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajukan SPR</button>
            </div>
        </row>
    </div>
<div class="row">
    <div class="col-md-12">
        <h5>Pencarian SPR</h5>
        <div class="card">
            <div class="card-body">
                    <label for="pencarianSelect" class="form-label">Pencarian Berdasarkan</label>
                    <select id="pencarianSelect" class="form-select" aria-label="Pilih">
                        <option value="1" selected>KODE SPR</option>
                        <option value="2">Tujuan Proyek</option>
                        <option value="3">Tanggal Permintaan</option>
                        <option value="4">Zona</option>
                    </select>
            </div>
        </div>
    </div>
</div>
<div class="row">

        <table id="tableSPR" class="display">
        <thead>
            <tr>
                <th>Kode SPR </th>
                <th>Zona</th>
                <th>Tanggal SPR</th>
                <th>Tujuan SPR</th>
                <th>Nama Peminta</th>
                <th>Nama Penyetuju 1 </th>
                <th>Nama Penyetuju 2</th>
                <th>Ada Detil</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

        </tbody>
    </table>

</div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts{

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        console.log("Custome Js here");        
    </script>
        <script src="~/js/_Helper.js"></script>
        <script src="~/js/ProyekSelect.js"></script>
        <script src="~/js/SPRDataTable.js"></script>


}