
@{
    ViewData["Title"] = "Index";
}
@section HeaderTag{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Kode SPR</th>
            <th>Zona</th>
            <th>Tanggal SPR</th>
            <th>Tujuan SPR</th>
            <th>Nama Peminta</th>
            <th>Nama Penyetuju 1</th>
            <th>Nama Penyetuju 2</th>
            <th>Ada Detil</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

    </tbody>
</table>


@section Scripts{

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        console.log("Helllow World");
        $(document).ready(function () {
            console.log("Data Table begin");
            

            $('#myTable').DataTable({
                ajax: {
                    url: '/Proyek/'+2,
                    dataSrc: ''
                },
                columns: [... ]
            });
            $('myTable').DataTable({
                ajax: {
                    url: '/Proyek/2', // Replace 2 with the dynamic project ID if needed
                    method: 'GET',
                    dataSrc: function (json) {
                        // Log the data to the console instead of displaying in the table
                        console.log("Data from API:", json);
                        return []; // Empty array so no data is displayed in the table
                    }
                },
                columns: [
                    { data: 'KodeSPR' },
                    { data: 'Zona' },
                    { data: 'TanggalSPR' },
                    { data: 'TujuanSPR' },
                    { data: 'NamaPeminta' },
                    { data: 'NamaPenyetuju1' },
                    { data: 'NamaPenyetuju2' },
                    { data: 'AdaDetil' },
                    { data: 'Status' },
                    { data: 'Actions' }
                ]
            })
        });
    </script>

}