<div class="col-md-12">
    <h5>Pencarian SPR</h5>
    <div class="card">
        <div class="card-body">
            <label for="pencarianSelect" class="form-label">Pencarian Berdasarkan</label>
            <select id="pencarianSelect" class="form-select" aria-label="Pilih">
                <option value="1" selected>KODE SPR</option>
                <option value="2">Tujuan Proyek</option>
                <option value="3">Tanggal Permintaan</option>
                <option value="4">Zona</option>
            </select>
        </div>
    </div>
</div>