<table id="tableSPR" class="display">
    <thead>
        <tr>
            <th>Kode SPR </th>
            <th>Zona</th>
            <th>Tanggal SPR</th>
            <th>Tujuan SPR</th>
            <th>Nama Peminta</th>
            <th>Nama Penyetuju 1 </th>
            <th>Nama Penyetuju 2</th>
            <th>Ada Detil</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

    </tbody>
</table>